input[type="file"]
  display none
.flex-wrap-center
  display flex
  flex-wrap wrap
  align-items center
  align-content center
.image.is-64x64
  height 67px
  width 67px
.letter
  color #00000080
  opacity 1
  font-size 14px
