body, button, input, optgroup, select, textarea {
    font-family: "Family Fira Sans" !important
}

input[type="file"]
  display none

.flex-wrap-center
  display flex
  flex-wrap wrap
  align-items center
  align-content center

.flex-wrap-baseline
  display flex
  flex-wrap wrap
  align-items left
  align-content left

.image.is-64x64
  height 67px !important
  width 67px !important

.letter
  color #00000080
  opacity 1
  font-size 14px

.input.input
button
  border-radius 5px !important

label[data-v-2fc2760f]
  width unset !important


.b-radio.radio.is-large input[type="radio"] + .check
  font-size: 40px !important
  margin-right -20px !important
  padding none !important

.b-radio.radio.is-medium input[type="radio"] + .check
  margin-right -15px !important
  padding none !important

.pointerable:hover
  cursor pointer

.input
  border-color #e4e4e4 !important

.input:focus
  border-color #e4e4e4 !important
  box-shadow none !important

input::placeholder
  color #00000080 !important
  font-size 14px !important

.label
  color black !important
  font-weight unset !important

.margin-top-20
  margin-top 60px
